:root {
  --bg-primary: #047aed;
  --bg-dark: #002240;
}
body {
  font-family: "Lato", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* Start Container */
.container {
  max-width: 1100px;
  padding: 0 40px;
  margin: 0 auto;
}

/* End Container */

/* Start header */
header {
  background-color: var(--bg-primary);
  height: 80vh;
}
@media (max-width: 991px) {
  header {
    height: 120vh;
  }
}
header::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: 70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
}
@media (max-width: 991px) {
  header::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -160px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
header nav a {
  font-size: 32px;
  color: #fff;
}
@media (max-width: 500px) {
  header nav a {
    margin-bottom: 20px;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 500px) {
  header nav ul {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
}
header nav ul li a {
  transition: 0.5s;
  padding-bottom: 5px;
  text-align: center;
}
header nav ul li a:hover {
  border-bottom: 1px solid #ddd;
}
header nav ul li a {
  margin-right: 28px;
  font-size: 16px;
}
@media (max-width: 500px) {
  header nav ul li a {
    padding: 14px;
    margin: auto;
  }
}
header .content {
  position: relative;
  z-index: 999;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  header .content {
    flex-direction: column;
    gap: 60px;
  }
}
header .content div h1 {
  color: #fff;
  font-weight: 500;
  font-size: 40px;
}
header .content div .btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}
header .content div .btn:hover {
  background-color: #fff;
  color: var(--bg-primary);
  transform: scale(0.9);
}
header .content div p {
  color: #fff;
  margin: 20px 0;
  line-height: 1.6;
}
header .content form {
  width: 55%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  header .content form {
    width: 80%;
  }
}
@media (max-width: 500px) {
  header .content form {
    width: 100%;
  }
}
header .content form h3 {
  font-weight: 300;
  margin-bottom: 30px;
}
header .content form input {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin: 15px 0;
  padding: 5px 8px;
  font-size: 16px;
}
header .content form .btn {
  background-color: var(--bg-primary);
  color: #fff;
  width: fit-content;
  padding: 8px 26px;
}
/* End header */

/* Start Servy */
.Servy {
  margin-top: 110px;
  text-align: center;
}
.Servy h3 {
  max-width: 500px;
  margin: auto;
}
.Servy .d-flex {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .Servy .d-flex {
    flex-direction: column;
    gap: 50px 0;
  }
}
.Servy .d-flex h1 {
  font-size: 35px;
  margin: 14px 0;
}
.Servy .d-flex h4 {
  color: #1c3fa8;
}
/* End Servy */

/* Satrt Comment */
.comment {
  margin-top: 80px;
}
.comment .d-flex {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .comment .d-flex {
    flex-direction: column;
  }
}
.comment .d-flex .img {
  width: 70%;
}
@media (max-width: 767px) {
  .comment .d-flex .img {
    width: 100%;
  }
}
.comment .d-flex .col {
  width: 30%;
}
@media (max-width: 767px) {
  .comment .d-flex .col {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .comment .d-flex .col {
    width: 100%;
  }
}
.comment .d-flex .col div {
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  padding: 30px 20px;
  border-radius: 5px;
  margin: 40px 0;
  font-weight: bold;
}
/* End Comment */

/* Start hosting */
.hosting {
  background-color: var(--bg-primary);
  text-align: center;
  padding: 20px 0;
}
.hosting .container {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .hosting .container {
    flex-direction: column;
    gap: 40px 0;
  }
}
.hosting .container div {
  color: #fff;
}
.hosting .container div h1 {
  font-weight: 300;
  font-size: 35px;
}
.hosting .container div p {
  margin: 20px 0;
  letter-spacing: 1.2px;
}
.hosting .container div .btn {
  background-color: var(--bg-dark);
  transition: 0.5s;
  color: #fff;
}
.hosting .container div .btn:hover {
  transform: scale(0.9);
}
.hosting .container div img {
  width: 80%;
}
/* End hosting */

/* Start logos */
.logos {
  margin-top: 60px;
  text-align: center;
}
.logos h1 {
  font-weight: 400;
}
.logos .container {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 880px) {
  .logos .container {
    justify-content: center;
  }
}
.logos .container div {
  box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
  padding: 20px 14px;
  border-radius: 8px;
  transition: 0.2s linear;
  cursor: pointer;
  margin: 10px;
}
.logos .container div:hover {
  transform: translateY(-10px);
}
.logos .container div h4 {
  font-weight: bold !important;
  margin-bottom: 10px;
}
/* End logos */

/* Satrt Fooer */
footer {
  padding: 80px 0;
  background-color: var(--bg-dark);
  color: #fff;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  footer .container {
    flex-direction: column;
    gap: 40px 0;
  }
}
footer .container div h3 {
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 15px;
}
footer .container ul li {
  margin: 14px;
}
footer .container .social {
  display: flex;
}
footer .container .social i {
  font-size: 20px;
  transition: 0.5s;
}
footer .container .social i:hover {
  color: #047aed;
  cursor: pointer;
}
/* End Fooer */

/* Start Component */
.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  display: inline-block;
}
img {
  width: 100%;
}
/* End Component */
